.page {
  .slider-facts-nav {
    .slider {
      .slick-slider {
        .slick-prev,
        .slick-next {
          background: $color-white !important;
          @include boxshadow($boxshadow: 0 3px 15px $color-box-shadow);
          @include border-radius-circle(50%);
        }
        .slick-prev {
          left: -45px;
          width: 30px;
          height: 30px;
          &:before {
            content: "\f104";
            font-family: "FontAwesome";
            color: $color-grey;
          }
        }
        .slick-next {
          right: -55px;
          width: 30px;
          height: 30px;
          &:before {
            content: "\f105 ";
            font-family: "FontAwesome";
            color: $color-grey;
            margin-left: 8px;
          }
        }

        .slick-slide.slick-active {
          border-radius: 5px;
          width: 206px !important;
          margin-right: 20px;
        }
        .slider-img-item {
          text-align: center;
          padding: 15px 0px;
          @include border-radius-circle(5px);
          // @include border-radius(5px);
          &:focus {
            outline: none !important;
          }
          figure {
            @include flexvr;
          }
          span {
            color: $color-grey;
            @include typo($font-family, 400, 1.25);
            font-size: 1rem;
          }
        }
        .slick-dots {
          display: none !important;
        }
        // &.slider-facts-nav {
        .slick-current {
          span {
            color: $color-white;
          }
          background: $color-red !important;
          @include boxshadow($boxshadow: 0px 15px 20px #00000033);
        }
        // }
        .red-bg {
          background: rgba($color-red, 0.07);
        }
        .green-bg {
          background: rgba($color-limegreen, 0.09);
        }
        .blue-bg {
          background: rgba($color-blue, 0.09);
        }
        .orange-bg {
          background: rgba($color-orange, 0.09);
        }
        .blue-bg {
          background: rgba($color-blue, 0.09);
        }
      }
    }
  }
}

/* less than 992px; */
@media only screen and (max-width: $lg-tab) {
  .page {
    .banner {
      .slider {
        .slider-container {
          .slider-img-item {
            padding: 15px 0px;
            figure {
              margin-bottom: 10px;
              img {
                width: 32px;
              }
            }
            span {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}

/* less than 768px; */
@media only screen and (max-width: $md-tab) {
  .page {
    .banner {
      .slider {
        .slider-container {
          .slick-prev,
          .slick-next {
            width: 20px;
            height: 20px;
          }
          .slick-prev {
            &:before {
              font-size: 0.875rem;
            }
          }
          .slick-next {
            &:before {
              font-size: 0.875rem;
            }
          }
          .slider-img-item {
            padding: 10px 0px;
            figure {
              margin-bottom: 2px;
              img {
                width: 26px;
              }
            }
            span {
              font-size: 0.625rem;
            }
          }
        }
      }
    }
  }
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm) {
  .page {
    .banner {
      .slider {
        .slider-container {
          .slick-prev {
            left: -32px;
          }
          .slick-next {
            right: -32px;
          }
          .slider-img-item {
            padding: 10px 0px;
            figure {
              margin-bottom: 2px;
              img {
                width: 22px;
              }
            }
            span {
              font-size: 0.563rem;
            }
          }
        }
      }
    }
  }
}

/* less than 376px; */
@media only screen and (max-width: $mb-xs) {
  .page {
    .banner {
      .slider {
        .slider-container {
          .slick-prev,
          .slick-next {
            width: 18px;
            height: 18px;
          }
          .slick-prev {
            left: -32px;
          }
          .slick-next {
            right: -32px;
          }
          .slider-img-item {
            padding: 4px 0px;
            figure {
              margin-bottom: -2px;
              img {
                width: 22px;
              }
            }
            span {
              font-size: 0.5rem;
            }
          }
        }
      }
    }
  }
}
