.banner{
    @include linear-gradient(180deg, $color-stop1, $color-stop2);
    &.contact-banner{
        .banner-wrap{
            padding-bottom: 0;
            .title-block{
                .title-wrap {
                    .headline1 {
                        margin-bottom: 1.125rem;
                    }
                    .headline5{
                        margin-bottom: 0;
                    }
                }
            } 
        }
    }
    .banner-wrap{
        padding-bottom: 1.688rem;
        text-align: center;
        .title-block{
            display: flex;
            justify-content: center;
            .title-wrap{
                max-width: 850px;
                .headline1{
                    margin-bottom: 1rem;
                }
                .headline5{
                    margin-bottom: 4.375rem;
                }
            }
        }
        img{
            width: 630px;
        }
        &.fact-banner-wrap{
            padding-bottom: 0;
            .title-block{
                .title-wrap{
                    .headline5{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: $md-desktop){
    .banner{
        padding: 0 80px;
    }
}

@media only screen and (max-width: $tab-xl){
    .banner{
        .banner-wrap{
            img {
                width: 570px;
            }
        }
    }
}

@media only screen and (max-width: $mb-xl){
    .banner{
        padding: 0 50px;
        .banner-wrap{
            .title-block{
                .title-wrap {
                    .headline5{
                        margin-bottom: 4rem;
                    }
                }
            } 
        } 
    }
}

@media only screen and (max-width: $mb-sm){
    .banner{
        padding: 0 30px;
        .banner-wrap{
            img  {
                width: 450px;
            }
        } 
    }
}

@media only screen and (max-width: $mb-xs){
    .banner{
        .banner-wrap{
            .title-block{
                .title-wrap {
                    .headline5{
                        margin-bottom: 3rem;
                    }
                }
            } 
        } 
    }
}

@media only screen and (min-width: $md-desktop){
    .banner{
        padding: 0;
    }
}