.page{
    .case-study{
        .case-study-wrap{
            @include flex;
            &:nth-child(1){
                // margin-bottom: 130px;
            }
            &:nth-child(2){
                .logo-wrap{
                    @include flex;

                }
            }
           
            .case-study-image{
                flex: 1;
                .figure-case-img{
                    min-height: 100%;
                    display: flex;
                    align-items: center;
                    img{
                        // max-width: 500px;
                    }
                }
            }
            .case-study-content{
                flex: 1;
                min-height: 100%;
                @include flex;
                align-items: center;
                .case-study-content-wrap{
                    .date-time{
                        text-transform: uppercase;
                        @include typo($font-family, 400, 1.5);
                        // font-size: 0.563rem;
                        color: $color-yellow;
                        display: block;
                        // margin-bottom: 10px;
                    }
                    h3{
                        @include typo($font-family, 300, 1.5);
                        // font-size: 2.813rem;
                        color: $color-primary;
                        // margin-bottom: 10px;
                    }
                    p{
                        @include typo($font-family, 400, 1.5);
                        color: $color-primary;
                        // margin-bottom: 20px;
                    }
                    .sub-span{
                        @include typo($font-family, 400, 1.5);
                        // font-size: 0.563rem;
                        color: $color-grey;
                        display: block;
                        // padding-bottom: 5px;
                    }
                    .img-wrap{
                        .sub-span-img{
                            // max-width: 120px;
                            // height: 20px;
                            display: block;
                        }
                    }
                    .btn-case{
                        // margin-top: 40px;
                        // padding: 10px 20px;
                        @include typo($font-family, 400, 1.5);
                        // font-size: 0.563rem;
                        @include button($color-white, $color-red);
                        @include animate;
                        @include border-radius-circle(5px);
                        @include border(1px, solid, $color-red);
                    }
                    .logo-wrap{
                        
                        .logo-mid{
                            img{
                                &:nth-child(1){
                                // max-width: 45px;
                                }
                                &:nth-child(2){
                                    // max-width: 90px;
                                    // margin-left: 30px;
                                }
                            }
                        }
                    }
                  
                }
            }
        }
    }
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm){
     /* case */
     .case-study{
        padding: 0px 50px;
        .case-study-wrap{
            display: block !important;
            .case-study-image{
           
            }
            .case-study-content{
                .case-study-content-wrap{
                    text-align: center;
                    .date-time{
                        font-size: 0.75rem;
                        margin-bottom: 10px;
                    }
                    h3{
                        // font-size: 1.375rem;
                        margin-bottom: 20px;
                    }
                    p{
                        margin-bottom: 15px;
                    }
                    .sub-span{
                        font-size: 0.75rem;
                        padding-bottom: 5px;
                    }
                    .img-wrap{
                        @include flexcenter;
                        .sub-span-img{
                            max-width: 100px;
                            height: 20px;
                        }
                    }
                    .btn-case{
                        margin-top: 25px;
                        font-size: 0.75rem;
                        padding: 8px 14px;
                    }
                    .logo-wrap{
                        @include flexcenter;
                        .logo-mid{
                            img{
                                &:nth-child(1){
                                max-width: 45px;
                                }
                                &:nth-child(2){
                                    max-width: 90px;
                                    margin-left: 20px;
                                }
                                &:nth-child(3){
                                    max-width: 140px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: $mb-lg){
     /* case */
     .case-study{
        padding: 0px 50px;
        .case-study-wrap{
            display: block !important;
            .case-study-image{
            
            }
            .case-study-content{
                .case-study-content-wrap{
                    text-align: center;
                    .date-time{
                        font-size: 0.75rem;
                        margin-bottom: 10px;
                    }
                    h3{
                        margin-bottom: 20px;
                    }
                    p{
                        margin-bottom: 10px;
                    }
                    .sub-span{
                        font-size: 0.75rem;
                        padding-bottom: 10px;
                    }
                    .img-wrap{
                        @include flexcenter;
                        .sub-span-img{
                            max-width: 120px;
                            // height: 20px;
                        }
                    }
                    .btn-case{
                        margin-top: 30px;
                        font-size: 0.75rem;
                        padding: 10px 20px;
                    }
                    .logo-wrap{
                        @include flexcenter;
                        .logo-mid{
                            img{
                                &:nth-child(1){
                                max-width: 45px;
                                }
                                &:nth-child(2){
                                    max-width: 90px;
                                    margin-left: 25px;
                                }
                                &:nth-child(3){
                                    max-width: 140px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $md-tab) {
     /* case */
     .case-study{
        padding: 0px 80px;
        .case-study-wrap{
            display: flex !important;
            &:nth-child(2){
                .logo-wrap{
                   
                }
            }
            .case-study-image{
                .figure-case-img{
                    img{
                        max-width: 320px;
                    }
                }
            }
            .case-study-content{
                .case-study-content-wrap{
                    text-align: left;
                    .date-time{
                        font-size: 0.563rem;
                        margin-bottom: 15px;
                    }
                    h3{
                        // font-size: 1.75rem;
                        margin-bottom: 30px;
                    }
                    p{
                        margin-bottom: 15px;
                    }
                    .sub-span{
                        font-size: 0.563rem;
                        padding-bottom: 10px;
                    }
                    .img-wrap{
                        @include flex-start;
                        .sub-span-img{
                            max-width: 130px;
                        }
                    }
                    .btn-case{
                        margin-bottom:30px;
                        font-size: 0.563rem;
                        padding: 10px 26px;
                    }
                    .logo-wrap{
                        @include flex-start;
                        .logo-mid{
                            img{
                                &:nth-child(1){
                                max-width: 38px;
                                }
                                &:nth-child(2){
                                    max-width: 74px;
                                    margin-left: 10px;
                                }
                                &:nth-child(3){
                                    max-width: 126px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $lg-tab) {
     /* case */
     .case-study{
        padding: 0px 80px;
        .case-study-wrap{
            display: flex !important;
            .case-study-image{
                .figure-case-img{
                    img{
                        max-width: 450px;
                    }
                }
            }
            .case-study-content{
                .case-study-content-wrap{
                    text-align: left;
                    .date-time{
                        font-size: 0.75rem;
                        margin-bottom: 15px;
                    }
                    h3{
                        // font-size: 2.188rem;
                        margin-bottom: 30px;
                    }
                    p{
                        margin-bottom: 15px;
                    }
                    .sub-span{
                        font-size: 0.75rem;
                        padding-bottom: 10px;
                    }
                    .img-wrap{
                        @include flex-start;
                        .sub-span-img{
                            max-width: 140px;
                        }
                    }
                    .btn-case{
                        margin-top: 50px;
                        font-size: 0.75rem;
                        padding: 10px 26px;
                    }
                    .logo-wrap{
                        @include flex-start;
                        .logo-mid{
                            img{
                                &:nth-child(1){
                                max-width: 50px;
                                }
                                &:nth-child(2){
                                    max-width: 100px;
                                    margin-left: 30px;
                                }
                                &:nth-child(3){
                                    max-width: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 1024px */
@media only screen and (min-width: $ls-tab) {
     /* case */
     .case-study{
        padding: 0px 80px;
        .case-study-wrap{
            display: flex !important;
            .case-study-image{
                .figure-case-img{
                    img{
                        max-width: 500px;
                    }
                }
            }
            .case-study-content{
                .case-study-content-wrap{
                    text-align: left;
                    .date-time{
                        font-size: 0.875rem;
                        margin-bottom: 30px;
                    }
                    h3{
                        // font-size: 2.5rem;
                        margin-bottom: 40px;
                    }
                    p{
                        margin-bottom: 30px;
                    }
                    .sub-span{
                        font-size: 0.875rem;
                        padding-bottom: 10px;
                    }
                    .img-wrap{
                        @include flex-start;
                        .sub-span-img{
                            max-width: 180px;
                        }
                    }
                    .btn-case{
                        margin-top: 50px;
                        font-size: 0.75rem;
                        padding: 10px 30px;
                    }
                    .logo-wrap{
                        @include flex-start;
                        .logo-mid{
                            img{
                                &:nth-child(1){
                                max-width: 60px;
                                }
                                &:nth-child(2){
                                    max-width: 120px;
                                    margin-left: 30px;
                                }
                                &:nth-child(3){
                                    max-width: 180px;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

/* 1440px and up */
@media only screen and (min-width: $md-desktop) {
    
         /* case */
    .case-study{
        padding: 0px;
        .case-study-wrap{
            display: flex !important;
            .logo-wrap{
                @include flex-start;
                .logo-mid{
                    img{
                        &:nth-child(1){
                        max-width: 60px;
                        }
                        &:nth-child(2){
                            max-width: 120px;
                            margin-left: 30px;
                        }
                        &:nth-child(3){
                            max-width: 160px;
                        }
                    }
                }
            }
        
            .case-study-image{
                .figure-case-img{
                    img{
                        max-width: 500px;
                    }
                }
            }
            .case-study-content{
                .case-study-content-wrap{
                    text-align: left;
                    .date-time{
                        font-size: 0.938rem;
                        margin-bottom: 20px;
                    }
                    h3{
                        // font-size: 2.625rem;
                        margin-bottom: 20px;
                    }
                    p{
                        margin-bottom: 30px;
                    }
                    .sub-span{
                        font-size: 1.125rem;
                        padding-bottom: 14px;
                    }
                    .img-wrap{
                        @include flex-start;
                        .sub-span-img{
                            max-width: 200px;
                        }
                    }
                    
                    .btn-case{
                        margin-top: 60px;
                        font-size: 1rem;
                        padding: 12px 30px;
                    }
                }
            }
        }
    }
}
