.page{
    .form-section{
        @include linear-gradient-footer(180deg,$color-formlabel,$color-darkred);
        .form-left{
            .form-left-title{
                h3{
                    @include typo($font-family, 300, 1.5);
                    // font-size: 2.813rem;
                    color: $color-white;
                    margin-bottom: 20px;
                }
                span{
                    @include typo($font-family, 400, 1.5);
                    font-size: 1.125rem;
                    color: $color-white;
                }
            }
            .form-wrap{
                margin-top: 61px;
                form{
                    .form-group{
                        position: relative;
                        width: 100%;
                        &:nth-child(4){
                            margin-bottom: 0;
                        }
                        .form-control{
                            position: relative;
                            cursor: pointer;
                            color: $color-formlabel;
                            padding: 2px 0px;
                            background-color: transparent;
                            outline: none;
                            border: none;
                            @include border-bottom(1px, solid, $color-formlabel);
                            @include border-radius-circle(0px);
                            ~label{
                                @include typo($font-family, 400, 1.5);
                                @include transition($transition: all 0.4s ease-in);
                                // font-size: 1rem;
                                color: $color-formlabel;
                                position: absolute; 
                                left: 0;
                                top: 0px; 
                            }
                            ~.border-span{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0;
                                height: 1px;
                                background-color: $color-white;
                                transition:all 0.5s linear;
                            }
                            &:focus,
                            &:valid{
                                color: $color-white;
                                box-shadow: none;
                                outline: none;
                                ~label{
                                    top: -10px; 
                                    color: $color-white; 
                                    transform: translate(-20%, -40%) scale(0.6);
                                }
                                ~.border-span{
                                    width: 100%;
                                }
                            }
                        }
                    }
                     
                    .btn{
                        @include button($color-white, $color-formred);
                        // margin-top: 66px;
                        @include border(1px, solid, $color-white);
                        @include typo($font-family, 400, 1.5);
                        @include border-radius-circle(5px);
                    }
                }
            }
        }
        .form-right{
            margin-left: 80px;
            .form-right-title{
                h3{
                    @include typo($font-family, 300, 1.5);
                    // font-size: 2.813rem;
                    color: $color-white;
                    margin-bottom: 20px;
                }
            }
            .form-address{
                margin-top: 24px;
                .addr-list{
                    .addr{
                        @include flex;
                        &:nth-child(1){
                            span{
                                img{
                                    // width: 60px;
                                    // height: 30px;
                                }
                            }
                        }

                        span{
                            @include typo($font-family, 400, 1.5);
                            font-size: 1.125rem;
                            color: $color-white;
                            display: block;
                            padding-bottom: 18px;
                            &:nth-child(2){
                                margin-left: 15px;
                            }
                            img{
                                // width: 30px;
                                // height: 30px;
                            }
                        }
                    }
                }
            
                a{
                    @include typo($font-family, 400, 1.5);
                    font-size: 1.125rem;
                    color: $color-white;
                    &:hover{
                        color: darken($color-white, 20%);
                    }
                }   
            }
            .form-btn-wrap{
                padding-top: 80px;
                span{
                    @include typo($font-family, 400, 1.5);
                    font-size: 1.125em;
                    color: $color-pink;
                }
                .btn-content{
                    margin-bottom: 85px;
                    padding-top: 28px;
                    a{
                        cursor: pointer;
                        &:nth-child(1){
                            img{
                                // width: 127px;
                                // height: 44px;
                            }
                            margin-right: 16px;
                        }
                        &:nth-child(2){
                            img{
                                // width: 151px;
                                // height: 44px;
                            }
                            margin-right: 0px;
                        }
                    }
                   
                }
            }
            .social-icon-wrap{
                @include flex;
                a{
                    margin-right: 15px;
                    &:nth-child(5){
                        margin-right: 0;
                    }
                    &:nth-child(1){
                        figure{
                            img{
                                width: 7px;
                            }
                        }
                    }
                    figure{
                        cursor: pointer !important;
                        @include flex;
                        justify-content: center;
                        align-items: center;
                        background: $logo-bg;
                        width: 30px;
                        height: 30px;
                        @include border-radius-circle(50%);
                        box-shadow: 0px 10px 40px $color-box-shadow;
                        position: relative;
                        display: inline-block;
                        transition: all 0.4s ease-in;
                        outline: none;
                        img{
                            position: relative;
                            width: 15px;
                        }
                        //start click effect
                        &:before {
                            content: '';
                            background-color: lighten($color-red, 5%);
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            transform: scale(0.001, 0.001);
                        }
                        &:active{
                            outline: none !important;
                            &:before {
                                animation: click_effect 0.8s ease-out;
                            }
                        }
                    }
                    @keyframes click_effect {
                        50% {
                          transform: scale(1.8, 1.8);
                          opacity: 0;
                        }
                        99% {
                          transform: scale(0.001, 0.001);
                          opacity: 0;
                        }
                        100% {
                          transform: scale(0.001, 0.001);
                          opacity: 1;
                        }
                    }
                }
            }
        }

        // footer
        .footer{
            @include flex;
            justify-content: space-between;
            .footer-left{
                .copyright{
                    @include typo($font-family, 300, 1.5);
                    font-size: 0.938rem;
                    color: $color-formlabel;
                    .subtitle{
                        @include typo($font-family, 300, 1.5);
                        font-size: 0.938rem;
                        color: $color-pink;
                    }
                }
            }

            .footer-right{
                .site-design-title{
                    @include typo($font-family, 300, 1.5);
                    font-size: 0.938rem;
                    color: $color-formlabel;
                    .site-design{
                        @include typo($font-family, 300, 1.5);
                        font-size: 0.938rem;
                        color: $color-pink;
                    }
                }
            }
        }

    }
}
@media only screen and (max-width: $md-tab){
    /* form */
    .form-section{
        .form-left{
            .form-wrap{
                .form-group{
                    .form-control{
                        font-size: 0.875rem;
                        ~label{
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    } 
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm){
    /* form */
    .form-section{
        .form-left{
            .form-wrap{
                .form-group{
                    .form-control{
                        font-size: 0.75rem;
                        ~label{
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    } 
}


