.geographical-coverage-details{
    background: rgba($color-pink, 0.2);
    .geographical-details-wrap{
        position: relative;
        .sphere{
            position: absolute;
            background-color:rgba($color: $color-red, $alpha: 0.1);
            height: 67px;
            width: 67px;
            top: 23%;
            left: -4%;
            @include border-radius-circle(50%);
        }
        .details-left{
            h3{
                margin-bottom: 0 !important;
            }
            .para-center{
                p{
                    margin-top: 1.406rem;
                    max-width: 430px;
                    margin-bottom: 0 !important;
                }
            }
        }
        .details-right{
            @include flex;
            align-items: center;
            min-height: 100%;
            justify-content: center;
            .details-right-content{
                .btn-case{
                    width: 142px;
                    padding: .656rem 0;
                    text-transform: capitalize;
                    font-size: 0.625rem;
                    @include typo($font-family, 400, 1.5);
                    @include btn($color-white, $color-red);
                    @include border-radius-circle(5px);
                    @include border(1px, solid, $color-red);
                    &:hover {
                        box-shadow: 0px 15px 30px $btn-shadow;
                    }
                }
            }
        }
    }
}

/* less than 991px; */
@media only screen and (max-width: $tab-xl){
    .geographical-coverage-details {
        .geographical-details-wrap{
            .sphere{
                height: 45px;
                width: 45px;
                top: 19%;
                left: -4%;
            }
            .details-left{
                .para-center{
                    p{
                        max-width: 300px;
                        margin-top: 1rem;
                    }
                }
            }
            .details-right{
                .details-right-content {
                    .btn-case{
                        width: 120px;
                        padding: .5rem 0;
                    }
                }
            }
        }
    } 
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .geographical-coverage-details{
        .geographical-details-wrap{
            .details-left{
                .para-center{
                    @include flexcenter;
                    p{
                        margin-top: .625rem;
                    }
                }
            }
            .details-right {
                .details-right-content{
                    .btn-case{
                        margin-top: 2rem;
                    }
                }
            } 
        } 
    }  
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm){
    .geographical-coverage-details{
        .geographical-details-wrap{
            .sphere{
                left: 0%;
                width: 40px;
                height: 40px;
            }
            .details-left{
                text-align: center;
                h3{
                    margin-bottom: 15px;
                }
                .para-center{
                    p{
                        max-width: 300px;
                    }
                }
            }
            .details-right{
                justify-content: center;
                .details-right-content{  
                    .btn-case{
                        margin-right: 0;
                        width: 110px;
                        padding: .3rem 0;
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: $mb-lg){
    .geographical-coverage-details{
        .geographical-details-wrap{
            .details-left{
                text-align: center;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $md-tab) {
    .geographical-coverage-details{
        .geographical-details-wrap{
            .details-left{
                text-align: left;
            }
        }
    }
}

/* 1024px */
@media only screen and (min-width: $ls-tab) {
     /* geographical-info */
     .geographical-coverage-details{
        .geographical-details-wrap{
            .details-left{
                text-align: left;
            }
        }
    }
}

/* 1440px and up */
@media only screen and (min-width: $md-desktop) {
     /* geographical-info */
     .geographical-coverage-details{    
        .geographical-details-wrap{
            .details-left{
                text-align: left;
            }
        }
    }
}