.grid-section-whole{
    .grid-section{
        .grid-title-wrap{
            max-width: 750px;
            h4{
                margin-bottom: 0 !important;
            }
            .sec-caption{
                display: block;
                padding-bottom: 1.172rem;
            }
        }

        .grid-content{
            .grid-container{
                .grid-col{
                    margin-bottom: 40px;
                    h4{
                        margin-top: 28px;
                    }
                    .para-center{
                        margin-top: .938rem;
                        p{
                            max-width: 260px;
                        }
                    }
                }
            }
        }
    }
}

/* less than 991px; */
@media only screen and (max-width: $tab-xl){
    .grid-section-whole{
        .grid-section{
            .grid-content {
                .grid-container{
                    .grid-col {
                        h4{
                            margin-top: 15px;
                        }
                        .para-center {
                            margin-top: 0.625rem;
                        }
                    }
                } 
            }
        } 
    } 
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .grid-section-whole{
        .grid-section {
            .grid-content{
                .grid-container{
                    .grid-col {
                        .para-center{
                            @include flexcenter;
                            margin-top: .75rem;
                        }
                    }
                }
            }
        }
    }
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm){
     /* grid-section */
     .grid-section-whole{
        .grid-section{
            .grid-title-wrap{
                text-align: center;
            }

            .grid-content{
                .grid-container{
                    .grid-col{
                        text-align: center;
                        figure{
                            margin-bottom: 0 !important;
                            img{
                               width: 90px;
                            }
                        }
                        .para-center{
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mb-sm){
    .grid-section-whole{
        .grid-section{
            .grid-content{
                .grid-container {
                    .grid-col{
                        .para-center{
                           p {
                               max-width: 200px;
                           }
                        } 
                    }
                }
            }
        }
    }    
}

/* less than 376px; */
@media only screen and (max-width: $mb-xs){
    /* grid-section */
    .grid-section-whole{
       .grid-section{
           .grid-title-wrap{
               text-align: center;
           }

           .grid-content{
               .grid-container{
                   .grid-col{
                       text-align: center;
                       figure{
                           margin-bottom: 0 !important;
                           img{
                              width: 100px;
                           }
                       }
                   }
               }
           }
       }
   }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: $mb-lg){
      /* grid-section */
      .grid-section-whole{
        .grid-section{
            .grid-title-wrap{
                text-align: center;
            }

            .grid-content{
                .grid-container{
                    .grid-col{
                        text-align: center;
                        figure{
                            img{
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $md-tab) {
    /* grid-section */
    .grid-section-whole{
        .grid-section{
            .grid-title-wrap{
                max-width: 750px;
                text-align: left;
            }

            .grid-content{
                .grid-container{
                    .grid-col{
                        margin-bottom: 0;
                        text-align: left;
                        
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $lg-tab) {
      /* grid-section */
      .grid-section-whole{
       .grid-section{
           .grid-title-wrap{
               max-width: 700px;
               text-align: left;
           }

           .grid-content{
               .grid-container{
                   .grid-col{
                         margin-bottom: 0;   
                       text-align: left;
                       figure{
                        img{
                            width: 110px;
                        }
                    }
                       
                   }
               }
           }
       }
   }

}

/* 1024px */
@media only screen and (min-width: $ls-tab) {
     /* grid-section */
     .grid-section-whole{
        .grid-section{
            .grid-title-wrap{
                max-width: 750px;
                text-align: left;
            }
            .grid-content{
                .grid-container{
                    .grid-col{
                        margin-bottom: 0;
                        text-align: left;
                        figure{
                            img{
                                width: 120px;
                            }
                        }
                       
                    }
                }
            }
        }
    }
}

/* 1440px and up */
@media only screen and (min-width: $md-desktop) {
    .grid-section-whole{
        .grid-section{
            .grid-title-wrap{
                max-width: 750px;
                text-align: left;
            }

            .grid-content{
                .grid-container{
                    .grid-col{
                        margin-bottom: 0;
                        text-align: left;
                        figure{
                            img{
                                width: 130px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}