.tech-section{
    .tech-section-wrap{
        .tech-section-left{
            .img-center{
                img{
                    width: 436px;
                }
            }
        }
        .tech-section-right{
            min-height: 100%;
            @include flex;
            align-items: center;
            .tech-section-right-content{
                h3{
                    margin-bottom: 2.813rem;
                    max-width: 420px;
                }
                .btn-wrap{
                    .btn-content{
                        margin-top: .938rem;
                        a{
                            display: inline-block;
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    width: 120px;
                                    margin-right: .938rem;
                                }
                                
                            }
                            &:nth-child(2){
                                img{
                                    width: 135px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 991px; */
@media only screen and (max-width: $tab-xl){
    .tech-section{
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 480px;
                    }
                }
            }
            .tech-section-right{
                .tech-section-right-content{
                    h3{
                        max-width: 275px;
                    }
                    .btn-wrap{
                        .btn-content{
                            a{
                                &:nth-child(1){
                                    img{
                                        width: 80px;
                                        margin-right: 5px;
                                    }
                                    
                                }
                                &:nth-child(2){
                                    img{
                                        width: 90px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .tech-section{
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    text-align: center;
                    img{
                        width: 320px;
                    }
                }
            }
            .tech-section-right{
                justify-content: center;
                .tech-section-right-content{
                    text-align: center;
                    h3{
                        margin-bottom: 1.5rem;
                        max-width: 400px;
                    }
                    .btn-wrap{
                        .btn-content{
                            margin-top: .675rem;
                            a{
                                &:nth-child(1){
                                    img{
                                        width: 80px;
                                        margin-right: 5px;
                                    }
                                    
                                }
                                &:nth-child(2){
                                    img{
                                        width: 90px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 376px; */
@media only screen and (max-width: $mb-xs){
    .tech-section {
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                   img{
                       width: 250px;
                   } 
                }
            }
        }
    } 
}
