.case-study{
    .case-study-wrap{
        &:nth-child(2){
            .logo-wrap{
                @include flex;
            }
        }
        
        .case-study-image{
            min-height: 100%;
            @include flexcenter;
            align-items: center;
            .figure-case-img{
                margin-bottom: 0 !important;
                img{
                    width:  400px;
                }
            }
        }
        .case-study-content{ 
            min-height: 100%;
            @include flexcenter;
            align-items: center;
            .case-study-content-wrap{
                .collab-group{
                    span{
                        padding-bottom: 1.406rem;
                    }
                    .collab-row{
                        &:last-child{
                            margin-top: 1.5rem;
                        }
                        .collab-span{
                            span{
                                padding-bottom: 5px;
                                &.org-caption{
                                    padding-top: 3px;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
                span{
                    display: block;
                    padding-bottom: 1.172rem;
                }
                h3{
                    margin-bottom: 1.406rem;
                    max-width: 640px;
                    &.proj-headline{
                        margin-bottom: 0;
                    }
                }
                p{
                    max-width: 470px;
                    margin-bottom: 1.641rem;
                }
                .caption{
                    display: block;
                    display: block;
                    padding-bottom: .656rem;
                }
                .img-wrap{
                    .sub-span-img{
                        width: 147px;
                        display: block;
                    }
                }
                .btn-case{
                    margin-top: 3.375rem;
                    width: 142px;
                    padding: .656rem 0;
                    text-transform: capitalize;
                    font-size: 0.625rem;
                    @include typo($font-family, 400, 1.5);
                    @include btn($color-white, $color-red);
                    @include border-radius-circle(5px);
                    @include border(1px, solid, $color-red);
                    &:hover {
                        box-shadow: 0px 15px 30px $btn-shadow;
                    }
                }
                .logo-wrap{
                    .logo-mid{
                        img{
                            &:nth-child(1){
                                width: 50px;
                            }
                            &:nth-child(2){
                                width: 90px;
                                margin-left: 34px;
                            }
                            &:nth-child(3){
                                margin-left: 22.5px;
                                width: 124px;
                            }
                        }
                    }
                }
            }
        }
    }
} 

/* less than 991px; */
@media only screen and (max-width: $tab-xl){
    .case-study {
        .case-study-wrap {
            .case-study-image{
                .figure-case-img{
                    img{
                        width: 320px;
                    }
                }
            }
            .case-study-content {
                .case-study-content-wrap{
                    span {
                        padding-bottom: 1rem;
                    }
                    h3 {
                        margin-bottom: 1.25rem;
                    }
                    p {
                        margin-bottom: 1.325rem;
                    }
                    .caption {
                        padding-bottom: .425rem;
                    }
                    .img-wrap{
                        .sub-span-img{
                            width: 120px;
                        }
                    }
                    .btn-case{
                        width: 120px;
                        padding: .5rem 0;
                        margin-top: 2.375rem;
                    }
                    .logo-wrap{
                        .logo-mid{
                            img{
                                &:nth-child(1){
                                    width: 36px;
                                }
                                &:nth-child(2){
                                    width: 76px;
                                    margin-left: 18px;
                                }
                                &:nth-child(3){
                                    margin-left: 4px;
                                    width: 110px;
                                }
                            }
                        }
                    }
                    .collab-group {
                        span{
                            padding-bottom: 1rem;
                        }
                        .collab-row {
                            .collab-span{
                                span {
                                    padding-bottom: 3px;
                                }
                            } 
                        }
                    }
                }
            }  
        }
    }   
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .case-study{
       .case-study-wrap {
            .case-study-image{
                .figure-case-img{
                    img{
                        width: 280px;
                    }
                }
            }
            .case-study-content{
                .case-study-content-wrap{
                    text-align: center;
                    span{
                        padding-bottom: .425rem;
                    }
                    h3{
                        max-width: 450px;
                        margin: 0 auto 1rem auto;
                    }
                    p{
                        max-width: 350px;
                        margin: 0 auto 1.125rem;
                    }
                    .caption{
                        padding-bottom: .5rem;
                    }
                    .btn-case{
                        margin-top: 2rem;
                    }
                    .img-wrap{
                        .sub-span-img{
                           margin: 0 auto;
                        }
                    }
                    .logo-wrap{
                        @include flexcenter;
                    }
                }
            }
       } 
    }  
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm){
     /* case */
     .case-study{
        .case-study-wrap{
            display: block !important;
            .case-study-image{
                .figure-case-img{
                    img{
                        max-width: 250px;
                    }
                }
            }
            .case-study-content{
                .case-study-content-wrap{
                    text-align: center;
                    h3{
                        max-width: 400px;
                    }
                    .img-wrap{
                        @include flexcenter;
                        .sub-span-img{
                            width: 100px;
                            height: 20px;
                        }
                    }
                    .btn-case{
                        width: 110px;
                        padding: .3rem 0;
                    }
                    .logo-wrap{
                        .logo-mid{
                            img{
                                &:nth-child(1){
                                    width: 30px;
                                }
                                &:nth-child(2){
                                    width: 70px;
                                    margin-left: 15px;
                                }
                                &:nth-child(3){
                                    margin-left: 5px;
                                    width: 116px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

