.tech-section{
    position: relative;
    .bg-case{
        position: absolute;
        z-index: -1;
        &.orange{
            width: 280px;
            left: 13%;
            top: 76%;
        }
        &.pink{
            width: 330px;
            left: 28%;
            top: 23%;
        }
        &.sm-orange,  &.sm-pink{
            width: 20px;
        }
        &.sm-pink{
            left: 13%;
            top: 75%;
        }
        &.sm-orange{
            left: 40%;
            top: 17%;
        }
    }
    .tech-section-wrap{
        .tech-section-left{
            .img-center{
                img{
                    width: 436px;
                }
                
            }
        }
        .tech-section-right{
            min-height: 100%;
            @include flex;
            align-items: center;
            justify-content: flex-end;
            .tech-section-right-content{
                h3{
                    margin-bottom: 2.813rem;
                    max-width: 420px;
                }
                .btn-wrap{
                    .btn-content{
                        margin-top: .938rem;
                        a{
                            display: inline-block;
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    width: 120px;
                                    margin-right: .938rem;
                                }
                                
                            }
                            &:nth-child(2){
                                img{
                                    width: 135px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 991px; */
@media only screen and (max-width: $tab-xl){
    .tech-section{
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 480px;
                    }
                }
            }
            .tech-section-right{
                .tech-section-right-content{
                    h3{
                        max-width: 275px;
                    }
                    .btn-wrap{
                        .btn-content{
                            a{
                                &:nth-child(1){
                                    img{
                                        width: 80px;
                                        margin-right: 5px;
                                    }
                                    
                                }
                                &:nth-child(2){
                                    img{
                                        width: 90px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .tech-section{
        .bg-case{
            &.orange{
                width: 220px;
                left: 25%;
                top: 36%;
            }
            &.pink{
                width: 238px;
                left: 43%;
                top: 8%;
            }
            &.sm-orange,  &.sm-pink{
                width: 17px;
            }
            &.sm-pink{
                left: 32%;
                top: 62%;
            }
            &.sm-orange{
                left: 69%;
                top: 12%;
            }
        }
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    text-align: center;
                    img{
                        width: 320px;
                    }
                   
                }
            }
            .tech-section-right{
                justify-content: center;
                .tech-section-right-content{
                    text-align: center;
                    h3{
                        margin-bottom: 1.5rem;
                        max-width: 400px;
                    }
                    .btn-wrap{
                        .btn-content{
                            margin-top: .675rem;
                            a{
                                &:nth-child(1){
                                    img{
                                        width: 80px;
                                        margin-right: 5px;
                                    }
                                    
                                }
                                &:nth-child(2){
                                    img{
                                        width: 90px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm){
    .tech-section{
        .bg-case{
            &.orange{
                width: 200px;
                left: 20%;
                top: 37%;
            }
            &.pink{
                width: 230px;
                left: 41%;
                top: 8%;
            }
            &.sm-orange,  &.sm-pink{
                width: 16px;
            }
            &.sm-pink{
                left: 26%;
                top:59%;
            }
            &.sm-orange{
                left: 79%;
                top: 12%;
            }
        }
    }
}

/* less than 376px; */
@media only screen and (max-width: $mb-xs){
    .tech-section {
        .bg-case{
            &.orange{
                width: 170px;
                left: 11%;
                top: 38%;
            }
            &.pink{
                width: 200px;
                left: 34%;
                top: 8%;
            }
            &.sm-orange,  &.sm-pink{
                width: 16px;
            }
            &.sm-pink{
                left: 20%;
                top: 57%;
            }
            &.sm-orange{
                left: 82%;
                top: 15%;
            }
        }
        .tech-section-left{
            .img-center{
                img{
                    width: 250px;
                } 
            }
        }
    }
} 


@media only screen and (min-width: $md-tab){
    .tech-section{
        .bg-case{
            &.orange{
                width: 220px;
                left: 16%;
                top: 50%;
            }
            &.pink{
                width: 230px;
                left: 28%;
                top: 10%;
            }
            &.sm-orange,  &.sm-pink{
                width: 18px;
            }
            &.sm-pink{
                left: 18%;
                top: 74%;
            }
            &.sm-orange{
                left: 51%;
                top: 15%;
            }
        }
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 380px;
                    }
                    
                }
            }
            .tech-section-right{
                .tech-section-right-content{
                   h3 {
                       max-width: 250px;
                   }
                } 
            } 
        }
    }
}

@media only screen and (min-width: $lg-tab){
    .tech-section{
        
        .bg-case{
            &.orange{
                width: 250px;
                left: 8%;
                top: 46%;
            }
            &.pink{
                width: 280px;
                left: 23%;
                top: 13%;
            }
            &.sm-orange,  &.sm-pink{
                width: 20px;
            }
            &.sm-pink{
                left:12%;
                top: 73%;
            }
            &.sm-orange{
                left: 45%;
                top: 16%;
            }
        }
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 380px;
                    }
                }
            }
            .tech-section-right {
                .tech-section-right-content {
                    h3{
                        max-width: 350px;
                    }   
                }
            }
        }  
    }
}

@media only screen and (min-width: $desktop){
    .tech-section{
        .bg-case{
            &.orange{
                width: 280px;
                left: 7%;
                top: 49%;
            }
            &.pink{
                width: 325px;
                left: 19%;
                top: 12%;
            }
            &.sm-orange,  &.sm-pink{
                width: 20px;
            }
            &.sm-pink{
                left:10%;
                top: 75%;
            }
            &.sm-orange{
                left: 40%;
                top: 15%;
            }
        }
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 436px;
                    }
                   
                }
            }
            .tech-section-right {
                justify-content: flex-start;
                .tech-section-right-content {
                    h3{
                        max-width: 420px;
                    }   
                }
            }
        }
    }  
}

@media only screen and (min-width: $md-desktop){
    .tech-section{
        .bg-case{
            position: absolute;
            z-index: -1;
            &.orange{
                width: 280px;
                left: 11%;
                top: 48%;
            }
            &.pink{
                width: 330px;
                left: 21%;
                top: 14%;
            }
            &.sm-orange,  &.sm-pink{
                width: 20px;
            }
            &.sm-pink{
                left: 14%;
                top: 74%;
            }
            &.sm-orange{
                left: 39%;
                top: 17%;
            }
        }
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 436px;
                    }
                   
                }
            }
        }
    }  
}

