.page{
    .resources-section{
        .resources-section-wrap{
            .resources-title{
                h3{
                    @include typo($font-family, 300, 1.25);
                    color: $color-primary;
                }
                p{
                    @include typo($font-family, 300, 1.25);
                    // font-size: 1.125rem;
                    color: $color-primary;
                }
            }
            .resources-grid-content{
                .grid-container{
                    .grid-col{
                        // background: red;
                        .grid-content-wrap{
                            .grid-image{        
                                // text-align: center;
                                img{
                                //    max-width: 150px;
                                }
                            }
                            .grid-content{
                                margin-top: 10px;
                                h4{
                                    @include typo($font-family, 400, 1.25);
                                    // font-size: 1.255rem;
                                    color: $color-red;
                                    padding-bottom: 5px;
                                }
                                p{
                                    @include typo($font-family, 400, 1.5);
                                    color: $color-darkgrey;
                                }
                            }
                            .grid-button{
                                &:nth-child(3){
                                    position: absolute;
                                    bottom: 0px;
                                    width: 100%;
                                }                                
                                .btn-wrap{
                                    button{
                                        // max-width: 100px;
                                        // height: 30px;
                                        @include typo($font-family, 400, 1.25);
                                        // font-size: 0.938rem;
                                        @include button($color-red, $color-white);
                                        @include animate;
                                        @include border-radius-circle(5px);
                                        @include border(1px, solid, $color-red);
                                        &:nth-child(1){
                                            // margin-right: 20px;
                                            // padding: 4px 10px;
                                        }
                                        &:nth-child(2){
                                            margin-right: 0px;
                                            // padding: s4px 5spx;
                                        }
                                        span{
                                            @include flex;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm){
      /* resources */
      .resources-section{
        padding: 0px 50px;
        .resources-section-wrap{
            .resources-title{
                text-align: center;
                margin-bottom: 0px;
                h3{
                    padding-bottom: 0px;
                }
            }
            .resources-grid-content{
                .grid-container{
                    .grid-col{
                        .grid-content-wrap{
                            .grid-image{
                                text-align: center;
                                img{
                                    max-width: 150px;
                                }
                            }
                            .grid-content{
                                text-align: center;
                                margin-top: 10px;
                                h4{
                                    padding-bottom: 5px;
                                }
                            }
                            .grid-button{
                                text-align: center;
                                .btn-wrap{
                                    button{
                                        max-width: 80px;
                                        height: 30px;
                                        font-size: 0.75rem;
                                        &:nth-child(1){
                                            margin-right: 5px;
                                            padding: 4px 20px;
                                        }
                                        &:nth-child(2){
                                            margin-right: 0px;
                                            padding: 4px 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: $mb-lg){
    
    /* resources */
    .resources-section{
        padding: 0px 50px;
        .resources-section-wrap{
            .resources-title{
                text-align: center;
                margin-bottom: 20px;
                h3{
                    padding-bottom: 0px;
                }
            }
            .resources-grid-content{
                .grid-container{
                    .grid-col{
                        .grid-content-wrap{
                            .grid-image{
                                text-align: center;
                                img{
                                    max-width: 150px;
                                }
                            }
                            .grid-content{
                                text-align: center;
                                margin-top: 10px;
                                h4{
                                    // font-size: 1.125rem;
                                    padding-bottom: 10px;
                                }
                            }
                            .grid-button{
                                text-align: center;
                                .btn-wrap{
                                    button{
                                        max-width: 80px;
                                        height: 30px;
                                        font-size: 0.75rem;
                                        &:nth-child(1){
                                            margin-right: 5px;
                                            padding: 4px 20px;
                                        }
                                        &:nth-child(2){
                                            margin-right: 0px;
                                            padding: 4px 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $md-tab) {
    /* resources */
    .resources-section{
        padding: 0px 80px;
        .resources-section-wrap{
            .resources-title{
                text-align: left;
                margin-bottom: 32px;
                h3{
                    // font-size: 1.875rem;
                    padding-bottom: 20px;
                }
            }
            .resources-grid-content{
                .grid-container{
                    .grid-col{
                       
                        .grid-content-wrap{
                            .grid-image{
                                text-align: left;
                                img{
                                    max-width: 180px;
                                }
                            }
                            .grid-content{
                                text-align: left;
                                margin-top: 15px;
                                h4{
                                    // font-size: 1.25rem;
                                    padding-bottom: 10px;
                                }
                            }
                            .grid-button{
                                text-align: left;
                                .btn-wrap{
                                    button{
                                        max-width: 80px;
                                        height: 30px;
                                        font-size: 0.75rem;
                                        &:nth-child(1){
                                            margin-right: 10px;
                                            padding: 4px 20px;
                                        }
                                        &:nth-child(2){
                                            margin-right: 0px;
                                            padding: 4px 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $lg-tab) {
     /* resources */
     .resources-section{
        padding: 0px 80px;
        .resources-section-wrap{
            .resources-title{
                text-align: left;
                margin-bottom: 32px;
                h3{
                    padding-bottom: 20px;
                }
            }
            .resources-grid-content{
                .grid-container{
                    .grid-col{
                        .grid-content-wrap{
                            .grid-image{
                                text-align: left;
                                img{
                                    max-width: 200px;
                                }
                            }
                            .grid-content{
                                text-align: left;
                                margin-top: 15px;
                                h4{
                                    padding-bottom: 10px;
                                }
                            }
                            .grid-button{
                                text-align: left;
                                .btn-wrap{
                                    button{
                                        max-width: 100px;
                                        height: 30px;
                                        font-size: 0.938rem;
                                        &:nth-child(1){
                                            margin-right: 10px;
                                            padding: 5px 28px;
                                        }
                                        &:nth-child(2){
                                            margin-right: 0px;
                                            padding: 5px 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 1024px */
@media only screen and (min-width: $ls-tab) {
    /* resources */
    .resources-section{
        padding: 200px 80px;
        .resources-section-wrap{
            .resources-title{
                text-align: left;
                margin-bottom: 32px;
                h3{
                    // font-size: 2.5rem;
                    padding-bottom: 20px;
                }
            }
            .resources-grid-content{
                .grid-container{
                    .grid-col{
                        .grid-content-wrap{
                            .grid-image{
                                text-align: left;
                                img{
                                    max-width: 200px;
                                }
                            }
                            .grid-content{
                                text-align: left;
                                margin-top: 15px;
                                h4{
                                    // font-size: 1.375rem;
                                    padding-bottom: 18px;
                                }
                            }
                            .grid-button{
                                text-align: left;
                                .btn-wrap{
                                    button{
                                        max-width: 110px;
                                        height: 30px;
                                        font-size: 0.938rem;
                                        &:nth-child(1){
                                            margin-right: 10px;
                                            padding: 5px 60px;
                                        }
                                        &:nth-child(2){
                                            margin-right: 0px;
                                            padding: 5px 60px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 1440px and up */
@media only screen and (min-width: $md-desktop) {
    /* resources */
    .resources-section{
        padding: 0px;
        .resources-section-wrap{
            .resources-title{
                text-align: left;
                margin-bottom: 32px;
                h3{
                    padding-bottom: 10px;
                }
            }
            .resources-grid-content{
                .grid-container{
                    .grid-col{
                        .grid-content-wrap{
                            .grid-image{
                                text-align: left;
                                img{
                                    max-width: 240px;
                                }
                            }
                            .grid-content{
                                text-align: left;
                                margin-top: 25px;
                                h4{
                                    // font-size: 1.55rem;
                                    padding-bottom: 10px;
                                }
                            }
                            .grid-button{
                                text-align: left;
                                .btn-wrap{
                                    button{
                                        max-width: 110px;
                                        height: 40px;
                                        font-size: 0.938rem;
                                        &:nth-child(1){
                                            margin-right: 20px;
                                            padding: 7px 70px;
                                        }
                                        &:nth-child(2){
                                            margin-right: 0px;
                                            padding: 7px 70px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}