    .grid-section-whole{
    .grid-section{
        .grid-title-wrap{
            .section-span{
                text-transform: uppercase;
                @include typo($font-family, 600, 1.5);
                letter-spacing: 3px;
                color: $color-red;
                display: block;
            }
            h3{
                @include typo($font-family, 300, 1.5);
                color: $color-primary;
            }
        }

        .grid-content{
            .grid-container{
                .grid-col{
                    margin-bottom: 40px;
                    figure{
                        img{
                        }
                    }
                    h4{
                        @include typo($font-family, 400, 1.5);
                        color: $color-red;
                    }
                    p{
                        color: $color-darkgrey;
                        @include typo($font-family, 300, 1.5);
                    }
                }
            }
        }
    }
}


/* less than 575px; */
@media only screen and (max-width: $mb-sm){
     /* grid-section */
     .grid-section-whole{
        padding: 0px 30px;
        .grid-section{
            .grid-title-wrap{
                text-align: center;
                .section-span{
                    font-size: 0.875rem;
                }
            }

            .grid-content{
                .grid-container{
                    .grid-col{
                        text-align: center;
                        figure{
                            margin-bottom: 0 !important;
                            img{
                               width: 130px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 376px; */
@media only screen and (max-width: $mb-xs){
    /* grid-section */
    .grid-section-whole{
       padding: 0px 30px;
       .grid-section{
           .grid-title-wrap{
               text-align: center;
               .section-span{
                   font-size: 0.875rem;
               }
           }

           .grid-content{
               .grid-container{
                   .grid-col{
                       text-align: center;
                       figure{
                           margin-bottom: 0 !important;
                           img{
                              width: 110px;
                           }
                       }
                   }
               }
           }
       }
   }
}


/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: $mb-lg){
      /* grid-section */
      .grid-section-whole{
        padding: 0px 50px;
        .grid-section{
            .grid-title-wrap{
                text-align: center;
                .section-span{
                    font-size: 0.875rem;
                }
            }

            .grid-content{
                .grid-container{
                    .grid-col{
                        text-align: center;
                        figure{
                            img{
                                max-width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $md-tab) {
    /* grid-section */
    .grid-section-whole{
        padding: 0px 80px;
        .grid-section{
            .grid-title-wrap{
                max-width: 750px;
                text-align: left;
                .section-span{
                    font-size: 1rem;
                }
            }

            .grid-content{
                .grid-container{
                    .grid-col{
                        margin-bottom: 0;
                        text-align: left;
                        figure{
                            img{
                                max-width: 110px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $lg-tab) {
      /* grid-section */
      .grid-section-whole{
        padding: 0px 80px;
       .grid-section{
           .grid-title-wrap{
               max-width: 650px;
               text-align: left;
               .section-span{
                   font-size: 1rem;
               }
           }

           .grid-content{
               .grid-container{
                   .grid-col{
                         margin-bottom: 0;   
                       text-align: left;
                       figure{
                        img{
                            max-width: 120px;
                        }
                    }
                       
                   }
               }
           }
       }
   }

}

/* 1024px */
@media only screen and (min-width: $ls-tab) {
     /* grid-section */
     .grid-section-whole{
        padding: 0px 80px;
        .grid-section{
            .grid-title-wrap{
                max-width: 600px;
                text-align: left;
                .section-span{
                    font-size: 1.125rem;
                }
            }
            .grid-content{
                .grid-container{
                    .grid-col{
                        margin-bottom: 0;
                        text-align: left;
                        figure{
                            img{
                                max-width: 140px;
                            }
                        }
                       
                    }
                }
            }
        }
    }
}

/* 1440px and up */
@media only screen and (min-width: $md-desktop) {
    .grid-section-whole{
        padding: 0px;
        .grid-section{
            .grid-title-wrap{
                max-width: 750px;
                text-align: left;
                .section-span{
                    font-size: 1.125rem;
                }
            }

            .grid-content{
                .grid-container{
                    .grid-col{
                        margin-bottom: 0;
                        text-align: left;
                        figure{
                            img{
                                max-width: 170px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}