.tech-section{
    background-image: url('../img/IMAGE-shape4.svg'), url('../img/IMAGE-shape2.svg'), url('../img/IMAGE-shape1.svg'), url('../img/IMAGE-shape3.svg');
    background-position: 28% 23%, 13% 76%,;
    background-size: 330px, 280px, 20px, 20px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    .tech-section-wrap{
        .tech-section-left{
            .img-center{
                img{
                    width: 436px;
                }
            }
        }
        .tech-section-right{
            min-height: 100%;
            @include flex;
            align-items: center;
            justify-content: flex-end;
            .tech-section-right-content{
                h3{
                    margin-bottom: 2.813rem;
                    max-width: 420px;
                }
                .btn-wrap{
                    .btn-content{
                        margin-top: .938rem;
                        a{
                            display: inline-block;
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    width: 120px;
                                    margin-right: .938rem;
                                }
                                
                            }
                            &:nth-child(2){
                                img{
                                    width: 135px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 991px; */
@media only screen and (max-width: $tab-xl){
    .tech-section{
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 480px;
                    }
                }
            }
            .tech-section-right{
                .tech-section-right-content{
                    h3{
                        max-width: 275px;
                    }
                    .btn-wrap{
                        .btn-content{
                            a{
                                &:nth-child(1){
                                    img{
                                        width: 80px;
                                        margin-right: 5px;
                                    }
                                    
                                }
                                &:nth-child(2){
                                    img{
                                        width: 90px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .tech-section{
        background-position: 62% 14%, 36% 52%, 32% 62%, 69% 12%;
        background-size: 238px, 220px, 17px, 17px;
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    text-align: center;
                    img{
                        width: 320px;
                    }
                    .bg-case{
                        &.orange{
                            bottom: 7%;
                            left: 14%;
                            width: 180px;
                        }   
                        &.pink{
                            top: -4%;
                            right: 14%;
                            width: 220px;
                        }
                        &.sm-orange{
                            top: 4%;
                            right: 17%;
                            width: 18px;
                        }
                        &.sm-pink{
                            bottom: 15%;
                            left: 20%;
                            width: 16px;
                        }
                    }
                }
            }
            .tech-section-right{
                justify-content: center;
                .tech-section-right-content{
                    text-align: center;
                    h3{
                        margin-bottom: 1.5rem;
                        max-width: 400px;
                    }
                    .btn-wrap{
                        .btn-content{
                            margin-top: .675rem;
                            a{
                                &:nth-child(1){
                                    img{
                                        width: 80px;
                                        margin-right: 5px;
                                    }
                                    
                                }
                                &:nth-child(2){
                                    img{
                                        width: 90px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 575px; */
@media only screen and (max-width: $mb-sm){
    .tech-section{
        background-position: 72% 12%, 31% 52%, 26% 62%, 79% 12%;
        background-size: 250px, 230px, 16px, 16px;
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    .bg-case{
                        &.orange{
                            bottom: 4%;
                            left: 17%;
                            width: 160px;
                        }   
                        &.pink{
                            top: -2%;
                            right: 12%;
                            width: 220px;
                        }
                        &.sm-orange{
                            top: 7%;
                            right: 15%;
                            width: 16px;
                        }
                        &.sm-pink{
                            bottom: 13%;
                            left: 20%;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}

/* less than 376px; */
@media only screen and (max-width: $mb-xs){
    .tech-section {
        background-position: 76% 16%, 24% 48%, 20% 55%, 84% 15%;
        background-size: 200px, 170px, 16px, 16px;
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                   img{
                       width: 250px;
                   } 
                }
            }
        }
    } 
}

@media only screen and (min-width: $md-tab){
    .tech-section{
        background-position: 40% 23%, 14% 76%, 16% 78%, 53% 16%;
        background-size: 244px, 220px, 18px, 18px;
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 380px;
                    }
                }
            }
            .tech-section-right{
                .tech-section-right-content{
                   h3 {
                       max-width: 250px;
                   }
                } 
            } 
        }
    }
}

@media only screen and (min-width: $lg-tab){
    .tech-section{
        background-position: 32% 22%, 12% 75%, 12% 75%, 45% 16%;
        background-size: 280px, 250px, 20px, 20px;
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 380px;
                    }
                }
            }
            .tech-section-right {
                .tech-section-right-content {
                    h3{
                        max-width: 350px;
                    }   
                }
            }
        }  
    }
}

@media only screen and (min-width: $desktop){
    .tech-section{
        background-position: 28% 20%, 10% 76%, 10% 75%, 42% 15%;
        background-size: 325px, 280px, 20px, 20px;
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 436px;
                    }
                }
            }
            .tech-section-right {
                justify-content: flex-start;
                .tech-section-right-content {
                    h3{
                        max-width: 420px;
                    }   
                }
            }
        }
    }  
}

@media only screen and (min-width: $md-desktop){
    .tech-section{
        background-position: 28% 23%, 13% 76%, 13% 75%, 40% 17%;
        background-size: 330px, 280px, 20px, 20px;
        .tech-section-wrap{
            .tech-section-left{
                .img-center{
                    img{
                        width: 436px;
                    }
                }
            }
        }
    }  
}

