.about-left{background:#fff;}
.aboutus__firstleft{padding:rem(37)}
.aboutus__rest-bottom{padding:rem(15);bottom:0;left: 0;color:#fff;z-index: 11;}
.aboutus__imgholder{background:#fff;}
.contactusabt__largfont{font-size: rem(24);margin-right:30px;display:inline-block;text-align:center}
.aboutus__vision{
    padding:rem(30);
}
.help{padding:60px 50px; display:flex;align-items: center; justify-content: center;background:#f1f1f1;}
.aboutus__firstElement{margin-top:100px;}
.inner-contanier{margin-bottom:50px;}
.btnct{min-width:rem(190);}
.container-fluid.custom-container{max-width: 90%;margin:auto;}