//hero image
.hero-image {
    padding: rem(15);
    background: #f5efef;
  }
.heroleft__header{margin-top:$basevalue*5;
margin-bottom:$basevalue*2;
font-size: rem(60);
letter-spacing:rem(8);
position: relative;
&:after{
    width:rem(100);
    height:3px;
    background:$primary;
    content:"";
    position: absolute;
    bottom:-15px;
    left: 0;
}
}
.heroleft__btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 24px;}
@media screen and(max-width:rem(768)){
    .heroleft__header{margin-top:0;
    font-size:2.5rem; }
    .hero-image{padding-bottom:$basevalue*2}

}
// #first{animation: firstA 2s infinite;}
// @keyframes firstA {
//     from {fill-opacity:0.4;}
//     to {fill-opacity: 1;}
//   }
//   #second{animation: firstA 2s infinite;
//           animation-delay: 2s}
//           #third{animation: firstA 2s infinite;
//             animation-delay: 6s}
 
.rel{position: relative;z-index: 13;max-width: 100%;}
.backtriangle{    position: absolute;
    z-index: 13;
    top: -57px;
    left: -33px;
    width: 100px;}
.searchp{    position: absolute;
    top: 30px;
    left: 50%;
    max-width: 340px;
    z-index: 200;
    margin-left: -143px;}
    .rtpanel{margin:70px 0;}