$baseFontSize: 19;
$basevalue: rem(15);

// margins

$h1-font-size: 5.653em;
$h2-font-size: 3.998em;
$h3-font-size: 2.827em;
$h4-font-size: 1.999em;
$h5-font-size: 1.414em;
$section-padding: rem(100);
$section-padding-half: rem(50);
$section-padding-quarter: rem(25);

$primary: #b43046;
$white: #fff;
$over-white:#fafafa;
$light-dark: #6a6a6c;
$hover: darken($primary, 5%);

$text-primary: #313133;
$text-opactity: 0.8;
