.medium {
  font-weight: 700;
}
.menu {
  font-size: 0.84211rem;
  font-weight: 700;
  color: #a02b3e;
}

.menu__item {
  color: #b43046;
  padding: 0 1.31579rem;
}

.menu__item:hover {
  color: #8c2536;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__item--active {
  font-weight: bold;
}

@media screen and (max-width: 42.10526rem) {
  .menu__item {
    color: red;
  }
}

.footer-top {
  padding-top: 4.21053rem;
}

.factsod {
  position: relative;
  background: #fff;
  padding: 35px 15px 15px 15px;
}

.factsod__header {
  background: #b43046;
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  position: absolute;
  z-index: 100;
  left: -10px;
  top: 0;
}

.factsod__header:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 31px;
  margin-left: -31px;
}

.factsod__detail {
  padding: 0.78947rem;
}

.viewall {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 100;
  text-decoration: none;
}

.badge {
  border-radius: 4px;
  color: #fff;
  padding: 5px 10px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-right: 15px;
}

.education {
  background: #e67e22;
  background: #e67e22;
}

.factsod__facts-share {
  margin-left: auto;
  min-width: 72px;
}

.factsod__facts-share i {
  color: #333;
  font-size: 20px;
}

.factsod__counts span {
  display: inline-block;
}

.time {
  margin-right: 15px;
}

.cholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services {
  background: #b43046;
}

.service-item__iconholder {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}

.service-item {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.service-item:hover {
  background: rgba(255, 255, 255, 0.09);
}

body {
  background: Red !important;
}

.testimonials {
  background: red;
}

body {
  font-family: "Work Sans", sans-serif !important;
}

.btn-primary {
  background-color: #b43046;
  border-color: #a02b3e;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #a02b3e;
  border-color: #98283b;
}

.la {
  font-size: 0.94737rem;
}

.class {
  font-size: 0.52632rem;
}

.bold {
  font-weight: 700;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ml-a {
  margin-left: auto;
}

.section-padding {
  padding: 5.26316rem;
}

.section-padding-x {
  padding: 0 5.26316rem;
}

.section-padding-y {
  padding: 5.26316rem 0;
}

.img-wpr img {
  width: 100%;
  position: relative;
}

.none {
  display: none;
}

a {
  color: #b43046;
}

a:hover {
  color: #942739;
}

a.no-decoration {
  text-decoration: none;
}

.section header {
  padding: 0.78947rem;
}

.happy-clients {
  background: url(../static/img/assets/HappyClients.png);
}

.fact-poll {
  background: #fffbfb;
}

.overprimary {
  opacity: 0.9;
}

.mt-2 {
  margin-top: 1.57895rem;
}

.initiatives {
  background: #fafafa;
}
/*# sourceMappingURL=style.css.map */
