@import "./mixin/mixin";
@import "./variables";

@import "./heroimage";
@import "./initiatives";
@import "./menu";
@import "./footer";
@import "./factsOfTheDay";
@import "./services";
@import "./testimonial";
@import "./ticker";
@import "./publicpoll";
@import "./aboutus";
@import "./leadership";
@import "./abouttop";
@import "./servicespage";
@import "./contactus";
@import "./work";

// fonts
body {
  font-family: "Work Sans", sans-serif !important;
  font-size: 14px;
}

// overwriting bootstrap

.btn-primary {
  background-color: $primary;
  border-color: darken($primary, 5%);

  &:hover,
  &:active,
  &:focus {
    background-color: darken($primary, 8%) !important;
    border-color: darken($primary, 7%);
    outline: none;
    box-shadow: none !important;
  }
}

.la {
  font-size: rem(18);
}

.class {
  font-size: rem(10);
}

.bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

.ml-a {
  margin-left: auto;
}

.section-padding {
  padding: $section-padding;
}

.section-padding-x {
  padding: 0 $section-padding;
}

.section-padding-y {
  padding: $section-padding 0;
}

.img-wpr img {
  width: 100%;
  position: relative;
}

// general implementations
.none {
  display: none;
}

a {
  color: $primary;
}

a:hover {
  color: darken($primary, 8%);
}

a.no-decoration {
  text-decoration: none;
}

.section //header

header {
  padding: rem(15);
}

.happy-clients {
  background: url(/img/HappyClients.png);
}

.fact-poll {
  background: #fffbfb;
}

.overprimary {
  opacity: 0.9;
}

.mt-2 {
  margin-top: $basevalue * 2;
}

.initiatives {
  background: #fafafa;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.darkoverlay {
  background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.66) 100%);
}
.light-overlay {
  background: linear-gradient(
    rgba(90, 24, 35, 0.5) 0%,
    rgba(180, 40, 70, 0.69) 100%
  );
}

// over bootstrap
.container {
  max-width: 1400px;
}

// helper class
p.nomargin {
  margin-bottom: 0;
}
.block {
  display: block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.mt-2f {
  margin-top: rem(30);
}
.primary-color {
  color: $primary;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.white {
  color: #fff;
}

.columnf {
  flex-direction: column;
}
.section-padding {
  padding: 100px 0;
}
.siventy-center {
  width: 70%;
  margin: auto;
}
header.flex {
  display: flex;
  align-items: center;
  padding: 0 30px;
  background: #f5efef;
  height: 80px;
}
.bggrey {
  background: #fafafa;
}
.inner-container {
  margin-bottom: rem(100);
}
.overtext {
  opacity: 0.8;
}
.mt30 {
  margin-top: rem(30);
}

.hamburger {
  display: none;
  position: fixed;
  z-index: 105;
  top: 15px;
  right: 15px;
}
.hamburger i {
  font-size: 30px;
  color: $primary;
}
header.flex {
  justify-content: space-between;
}
.menu.flex.menuactive {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  min-width: 250px;
  transform: translateX(0);
}
.clientsParallel .parallax-inner {
  margin-top: 300px;
}
.happy-clients {
  background-repeat: no-repeat;
  background-size: cover;
}

//responsive

@media screen and (max-width: 768px) {
  .container-fluid.custom-container {
    max-width: 100%;
  }
  .section-padding {
    padding: 25px 0;
  }
  .hamburger {
    display: block;
  }
  .menu {
    display: flex;
    padding: 40px 30px;
    min-height: 100vh;
    flex-direction: column;
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    min-width: 250px;
    transform: translateX(110%);
    transition: all 0.3s linear;
  }
  .menu a {
    margin-bottom: 30px;
  }
}

.container {
  position: relative;
}

// new design codes

.rtpanel {
  display: flex;
  justify-content: center;
}
.rtpanel img {
  max-height: 450px;
}
body {
  padding-top: 80px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.previousFact {
  display: flex;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
  padding: 15px;
  margin-bottom: 19px;
}
.previousFact:last-of-type {
  margin-bottom: 0;
}

.previousFact .img-wpr {
  height: initial;
  max-width: 160px;
  overflow: hidden;
}
.previousFact h6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0;
}
.previousFact .factsod__detail {
  padding: 0 0 0 15px;
}
.facts_detail_link {
  transition: all 0.3s linear;
}
.previousFact a.facts_detail_link:hover {
  color: $primary;
  cursor: pointer;
}
.facts_detail_link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.factsod__header {
  background: #f1c2ca;
  color: #000;
  display: inline-block;
  padding: 10px 30px;
  position: static;
  /* z-index: 100; */
  /* left: -10px; */
  /* top: -30px; */
  font-size: 1.25rem;
  width: 100%;
  border-left: 4px solid #b43046;
  /* margin-bottom: 0px; */
}
.factsod {
  padding: 0;
}
body {
  background: #fff !important;
  font-size: 16px;
  color: #5a5a5a;
}
.topsect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero-image {
  position: relative;
}

.fact-poll {
  background: #fff url(/img/rings.png) no-repeat;
  background-attachment: fixed;
  background-size: 250px;
  background-position: -100px 320px;
}
.services {
  height: 310px;
  position: relative;
}
.serviceInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.initiatives .col-md-3,
.happy-clients .col-md-3 {
  position: sticky;
  max-height: 130px;
  top: 130px;
}
.hero-image {
  background: #222 url(/img/bg.png) no-repeat;
  height: 800px;
  background-size: cover;
}

.initiatives {
  background: #fff url(/img/dot.png) no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}
.ii {
  padding: 0.78947rem;
  background: #fff;
  margin-bottom: 1.57895rem;
  box-shadow: 0px 3px 15px rgba(214, 24, 24, 0.16);
  border-radius: 4px;
  transition: all 0.3s linear;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.five > div:nth-of-type(1),
.five > div:nth-of-type(5) {
  margin-left: 0;
  margin-right: 0;
}

.factsod__facts-share .la {
  color: #111;
}
.factsod__facts-share .la,
.factsod__counts .la,
.factsod__counts {
  color: #8e8e8e;
  font-size: 18px;
}

.factsod__facts-share i.la {
  color: #8e8e8e;
  font-size: 24px;
}
.factsod__detail {
  padding: 30px 15px;
}
.in-det {
  padding-left: 40px;
}
.ii__img img {
  max-height: 140px;
}
.leftpadding {
  padding-left: 100px;
}
.ii {
  padding: 30px;
  background: transparent;
  box-shadow: none;
}
#green {
  fill: #00cc6a;
  transition: 0.2s linear;
}
#trophy {
  fill: #f7630c;
  transition: 0.2s linear;
}
#knowledgesm {
  fill: #ffb900;
  transition: 0.2s linear;
}
#pub {
  fill: #b146c2;
  transition: 0.2s linear;
}
#pol {
  fill: #0078d7;
  transition: 0.2s linear;
}
.ii:hover {
  box-shadow: 0px 3px 30px rgba(169, 169, 169, 0.59);
  cursor: pointer;
}
.awareness:hover {
  background: #00cc6a;
}
.contest:hover {
  background: #f7630c;
}
.knowledge:hover {
  background: #ffb900;
}
.pub:hover {
  background: #b146c2;
}
.pol:hover {
  background: #0078d7;
}

.ii:hover #green,
.ii:hover #trophy,
.ii:hover #knowledgesm,
.ii:hover #pub,
.ii:hover #pol {
  fill: rgba(255, 255, 255, 0.9);
}
.ii:hover .in-det {
  color: rgba(255, 255, 255, 0.95);
}
.ii:hover .in-det a {
  color: rgba(255, 255, 255, 0.95);
  font-weight: 600;
}
.topsect {
  color: #fff;
}
.topsect p {
  margin: 20px 0 40px 0;
  font-size: 18px;
}
.topsect h4 {
  font-size: 30px;
  margin-top: 30px;
}

.heroleft__btn i {
  font-size: 24px;
  margin-left: 15px;
  position: relative;
  top: 4px;
}
.heroleft__header:after {
  background: rgba(255, 255, 255, 0.8);
}
.ploll-btn {
  position: fixed;
  bottom: 20%;
  right: 15px;
  z-index: 100;
}

.hero-image.hero2 {
  background: url(/img/bg1.png) no-repeat;
  background-size: cover;
  background-position: -3px 0;
}
// for new page
.detailHolder {
  max-width: 1050px;
  margin: auto;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
body.snap {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 80px;
  scroll-snap-stop: always;
}
.snapchild {
  scroll-snap-align: start;
}
@media screen and (max-width: 768px) {
  .services {
    min-height: 662px;
  }
  .hero-image {
    height: auto;
  }
  .initiatives .col-md-3,
  .happy-clients .col-md-3 {
    position: static;
  }
  .leftpadding {
    padding-left: 0;
  }
  .initiatives {
    background: #fff;
  }
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
