/* less than 575px; */
@media only screen and (max-width: $mb-sm){
    .page{
        /* -- slider -- */
        .slider-section{
            padding-left: 50px;
            padding-right: 50px;
            span{
                text-align: center;
                display: block;
                font-size: 0.75rem;
            }
            .slider{
                margin-top: 42px;
                .slider-image-container{
                    .slider-img-item{
                        figure{
                            img{
                              width: 90px; 
                            }
                        }
                    }
                }
            }
        }

        /* form */
        .form-section{
            padding: 0px 50px;
            .form-left{
                .form-left-title{
                    h3{
                    // font-size: 1.563rem;
                        margin-bottom: 10px;
                    }
                    span{
                    font-size: 1rem;
                    }
                }
                .form-wrap{
                    margin-top: 30px;
                    .form-group{
                        width: 100%;
                        margin-bottom: 27px;
                        &:nth-child(4){
                            margin-bottom: 0;
                        }
                        .form-control{
                            padding: 6px 0px;
                            font-size: 1rem;
                            &::placeholder{
                                font-size: 1rem;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                            padding: 0px;
                        }
                    }
                    .btn{
                        margin-top: 46px;
                        padding: 5px 25px;
                        margin-bottom: 30px;
                        font-size: 0.75rem;
                        &:hover{
                            background: lighten($color-darkred, 20%);
                        }
                    }
                }
            }
            .form-right{
                
                margin-left: 0px;
                .form-right-title{
                    h3{
                        margin-top: 40px;
                        margin-bottom: 10px;
                    }
                }
                .form-address{
                    margin-top: 14px;
                    .addr-list{
                        .addr{
                            &:nth-child(1){
                                span{
                                    img{
                                        max-width: 20px;
                                        // height: 20px;
                                    }
                                }
                            }
                            span{
                                font-size: 1rem;
                                padding-bottom: 14px;
                                &:nth-child(2){
                                    margin-left: 10px;
                                }
                                img{
                                    max-width: 20px;
                                    // height: 20px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 1rem;
                    }   
                }
                .form-btn-wrap{
                    padding-top: 40px;
                    span{
                        font-size: 1rem;
                    }
                    .btn-content{
                        margin-bottom: 30px;
                        padding-top: 10px;
                        a{
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    max-width: 70px;
                                    // height: 30px;
                                }
                                margin-right: 0px;
                            }
                            &:nth-child(2){
                                img{
                                    max-width: 90px;
                                    // height: 30px;
                                }
                                margin-right: 0px;
                            }
                        }
                        
                    }
                }
                .social-icon-wrap{
                    @include flex;
                    a{
                        cursor: pointer !important;
                        margin-right: 15px;
                        &:nth-child(5){
                            margin-right: 0;
                        }
                        &:nth-child(1){
                            figure{
                                img{
                                    width: 6px;
                                }
                            }
                        }
                        figure{
                            @include flex;
                            justify-content: center;
                            align-items: center;
                            background: $logo-bg;
                            width: 26px;
                            height: 26px;
                            @include border-radius-circle(50%);
                            box-shadow: 0px 10px 40px $color-box-shadow;
                            img{
                                width: 12px;
                            }
                          
                        }
                    }
                }
            }
             // footer
            .footer{
                margin-top: 20px;
                .footer-left{
                    .copyright{
                        font-size: 0.75rem;
                        .subtitle{
                            font-size: 0.75rem;
                        }
                    }

                }

                .footer-right{
                    .site-design-title{
                        font-size: 0.75rem;
                        .site-design{
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: $mb-lg){
    
    .page{

        /* -- slider -- */
        .slider-section{
            padding-left: 50px;
            padding-right: 50px;
            span{
                text-align: center;
                display: block;
                font-size: 0.75rem;
            }
            .slider{
                margin-top: 42px;
                .slider-image-container{
                    .slider-img-item{
                        figure{
                            img{
                                width: 100px;
                            }
                        }
                    }
                }
            }
           
        }
        /* form */
         .form-section{
            padding: 0px 50px;
            .form-left{
                .form-left-title{
                    h3{
                    // font-size: 1.563rem;
                        margin-bottom: 10px;
                    }
                    span{
                    font-size: 1rem;
                    }
                }
                .form-wrap{
                    margin-top: 30px;
                    .form-group{
                        width: 100%;
                        margin-bottom: 27px;
                        &:nth-child(4){
                            margin-bottom: 0;
                        }
                        .form-control{
                            font-size: 1rem;
                            &::placeholder{
                                font-size: 1rem;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                            padding: 0px;
                        }
                    }
                    .btn{
                        margin-top: 46px;
                        padding: 6px 30px;
                        margin-bottom: 30px;
                        font-size: 0.75rem;
                        &:hover{
                            background: $color-darkred;
                        }
                    }
                }
            }
            .form-right{
                margin-left: 0px;
                .form-right-title{
                    h3{
                        margin-top: 40px;
                        // font-size: 1.563rem;
                        margin-bottom: 10px;
                    }
                }
                .form-address{
                    margin-top: 14px;
                    .addr-list{
                        .addr{
                            &:nth-child(1){
                                span{
                                    img{
                                        max-width:20px;
                                        // height: 22px;
                                    }
                                }
                            }
                            span{
                                font-size: 1rem;
                                padding-bottom: 14px;
                                &:nth-child(2){
                                    margin-left: 10px;
                                }
                                img{
                                    max-width: 20px;
                                    // height: 20px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 1rem;
                    }   
                }
                .form-btn-wrap{
                    padding-top: 40px;
                    span{
                        font-size: 1rem;
                    }
                    .btn-content{
                        margin-bottom: 30px;
                        padding-top: 10px;
                        a{
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    max-width: 70px;
                                    // height: 30px;
                                }
                                margin-right: 0px;
                            }
                            &:nth-child(2){
                                img{
                                    max-width: 90px;
                                    // height: 30px;
                                }
                                margin-right: 0px;
                            }
                        }
                        
                    }
                }
                .social-icon-wrap{
                    @include flex;
                    a{
                        cursor: pointer !important;
                        margin-right: 15px;
                        &:nth-child(5){
                            margin-right: 0;
                        }
                        &:nth-child(1){
                            figure{
                                img{
                                    width: 6px;
                                }
                            }
                        }
                        figure{
                            @include flex;
                            justify-content: center;
                            align-items: center;
                            background: $logo-bg;
                            width: 26px;
                            height: 26px;
                            @include border-radius-circle(50%);
                            box-shadow: 0px 10px 40px $color-box-shadow;
                            img{
                                width: 12px;
                            }
                          
                        }
                    }
                }
            }
            .footer{
                margin-top: 20px;
                .footer-left{
                    .copyright{
                        font-size: 0.75rem;
                        .subtitle{
                            font-size: 0.75rem;
                        }
                    }
                }
                .footer-right{
                    .site-design-title{
                        font-size: 0.75rem;
                        .site-design{
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: $md-tab) {

    .page{
        /* -- slider -- */
        .slider-section{
            padding-left: 80px;
            padding-right: 80px;
            span{
                text-align: left;
                display: block;
                font-size: 0.875rem;
            }
            .slider{
                margin-top: 42px;
                .slider-image-container{
                    .slider-img-item{
                        figure{
                            img{
                                width: 100px;
                            }
                        }
                    }
                }
            }
           
        }
        /* form */
          .form-section{
            padding: 0px 80px;
            .form-left{
                .form-left-title{
                    h3{
                    // font-size: 1.563rem;
                        margin-bottom: 10px;
                    }
                    span{
                    font-size: 0.75rem;
                    }
                }
                .form-wrap{
                    margin-top: 35px;
                    .form-group{
                        width: 100%;
                        margin-bottom: 17px;
                        &:nth-child(4){
                            margin-bottom: 0;
                        }
                        .form-control{
                            padding: 6px 0px;
                            font-size: 0.875rem;
                            &::placeholder{
                                font-size: 0.875rem;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                        }
                    }
                     .btn{
                        margin-top: 46px;
                        padding: 8px 40px;
                        margin-bottom: 40px;
                        font-size: 0.625rem;
                        &:hover{
                            background: $color-darkred;
                        }
                    }
                }
            }
            .form-right{
                margin-left: 45px;
                .form-right-title{
                    h3{
                        margin-top: 0px;
                        // font-size: 1.563rem;
                        margin-bottom: 10px;
                    }
                }
                .form-address{
                    margin-top: 14px;
                    .addr-list{
                        .addr{
                            &:nth-child(1){
                                span{
                                    img{
                                        max-width: 20px;
                                        // height: 22px;
                                    }
                                }
                            }
                            span{
                                font-size: 0.75rem;
                                padding-bottom: 14px;
                                &:nth-child(2){
                                    margin-left: 10px;
                                }
                                img{
                                    max-width: 20px;
                                    // height: 20px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 0.75rem;
                    }   
                }
                .form-btn-wrap{
                    padding-top: 40px;
                    span{
                        font-size: 0.75rem;
                    }
                    .btn-content{
                        margin-bottom: 50px;
                        padding-top: 10px;
                        a{
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    max-width: 70px;
                                    // height: 24px;
                                }
                                margin-right: 0px;
                            }
                            &:nth-child(2){
                                img{
                                    max-width: 90px;
                                    // height: 24px;
                                }
                                margin-right: 0px;
                            }
                        }
                        
                    }
                }
                .social-icon-wrap{
                    @include flex;
                    a{
                        cursor: pointer !important;
                        margin-right: 15px;
                        &:nth-child(5){
                            margin-right: 0;
                        }
                        &:nth-child(1){
                            figure{
                                img{
                                    width: 6px;
                                }
                            }
                        }
                        figure{
                            @include flex;
                            justify-content: center;
                            align-items: center;
                            background: $logo-bg;
                            width: 26px;
                            height: 26px;
                            @include border-radius-circle(50%);
                            box-shadow: 0px 10px 40px $color-box-shadow;
                            img{
                                width: 12px;
                            }
                          
                        }
                    }
                }
               
            }

            .footer{
                .footer-left{
                    .copyright{
                        font-size: 0.625rem;
                        .subtitle{
                            font-size: 0.625rem;
                        }
                    }
                }
                .footer-right{
                    .site-design-title{
                        font-size: 0.625rem;
                        .site-design{
                            font-size: 0.625rem;
                        }
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $lg-tab) {   
   
    .page{
        
        /* -- slider -- */
        .slider-section{
            padding-left: 80px;
            padding-right: 80px;
            span{
                text-align: left;
                display: block;
                font-size: 0.875rem;
            }
            .slider{
                margin-top: 42px;
                .slider-image-container{
                    .slider-img-item{
                        figure{
                            img{
                                width: 100px;
                            }
                        }
                    }
                }
            }
           
        }
        /* form */
        .form-section{
            padding: 0px 80px;
            .form-left{
                .form-left-title{
                    h3{
                    // font-size: 1.875rem;
                        margin-bottom: 20px;
                    }
                    span{
                    font-size: 0.875rem;
                    }
                }
                .form-wrap{
                    margin-top: 20px;
                    .form-group{
                        width: 100%;
                        margin-bottom: 20px;
                        &:nth-child(4){
                            margin-bottom: 0;
                        }
                        .form-control{
                            padding: 8px 0px;
                            font-size: 1rem;
                            &::placeholder{
                                font-size: 1rem;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                        }
                    }
                    .btn{
                        margin-top: 56px;
                        padding: 10px 40px;
                        margin-bottom: 84px;
                        font-size: 0.75rem;
                        &:hover{
                            background: $color-darkred;
                        }
                    }
                }
            }
            .form-right{
                margin-left: 60px;
                .form-right-title{
                    h3{
                        margin-top: 0px;
                        // font-size: 1.875rem;
                        margin-bottom: 20px;
                    }
                }
                .form-address{
                    margin-top: 24px;
                    .addr-list{
                        .addr{
                            &:nth-child(1){
                                span{
                                    img{
                                        max-width: 20px;
                                        // height: 22px;
                                    }
                                }
                            }
                            span{
                                font-size: 0.875rem;
                                padding-bottom: 18px;
                                &:nth-child(2){
                                    margin-left: 15px;
                                }
                                img{
                                    max-width: 20px;
                                    // height: 20px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 0.875rem;
                    }   
                }
                .form-btn-wrap{
                    padding-top: 40px;
                    span{
                        font-size: 0.875rem;
                    }
                    .btn-content{
                        margin-bottom: 50px;
                        padding-top: 10px;
                        a{
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    max-width: 100px;
                                    // height: 34px;
                                }
                                margin-right: 10px;
                            }
                            &:nth-child(2){
                                img{
                                    max-width: 120px;
                                    // height: 34px;
                                }
                                margin-right: 0px;
                            }
                        }
                        
                    }
                }
                .social-icon-wrap{
                    @include flex;
                    a{
                        cursor: pointer !important;
                        margin-right: 15px;
                        &:nth-child(5){
                            margin-right: 0;
                        }
                        &:nth-child(1){
                            figure{
                                img{
                                    width: 7px;
                                }
                            }
                        }
                        figure{
                            @include flex;
                            justify-content: center;
                            align-items: center;
                            background: $logo-bg;
                            width: 30px;
                            height: 30px;
                            @include border-radius-circle(50%);
                            box-shadow: 0px 10px 40px $color-box-shadow;
                            img{
                                width: 15px;
                            }
                          
                        }
                    }
                }
            }

            .footer{
                .footer-left{
                    .copyright{
                        font-size: 0.75rem;
                        .subtitle{
                            font-size: 0.75rem;
                        }
                    }
                }
                .footer-right{
                    .site-design-title{
                        font-size: 0.75rem;
                        .site-design{
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
       
    }
}

/* 1024px */
@media only screen and (min-width: $ls-tab) {
    
    .page{

        /* -- slider -- */
        .slider-section{
            padding-left: 80px;
            padding-right: 80px;
            span{
                text-align: left;
                display: block;
                font-size: 1rem;
            }
            .slider{
                margin-top: 42px;
                .slider-image-container{
                    .slider-img-item{
                        figure{
                            img{
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }

         /* form */
         .form-section{
            padding: 0px 80px;
            .form-left{
                .form-left-title{
                    h3{
                    // font-size: 2rem;
                        margin-bottom: 20px;
                    }
                    span{
                    font-size: 1rem;
                    }
                }
                .form-wrap{
                    margin-top: 40px;
                    .form-group{
                        width: 100%;
                        margin-bottom: 30px;
                        &:nth-child(4){
                            margin-bottom: 0;
                        }
                        .form-control{
                            padding: 8px 0px;
                            font-size: 1rem;
                            &::placeholder{
                                font-size: 1rem;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                        }
                    }
                    .btn{
                        margin-top: 56px;
                        padding: 10px 50px;
                        margin-bottom: 40px;
                        font-size: 1rem;
                        &:hover{
                            background: $color-darkred;
                        }
                    }
                }
            }
            .form-right{
                margin-left: 70px;
                .form-right-title{
                    h3{
                        margin-top: 0px;
                        // font-size: 2rem;
                        margin-bottom: 20px;
                    }
                }
                .form-address{
                    margin-top: 24px;
                    .addr-list{
                        .addr{
                            &:nth-child(1){
                                span{
                                    img{
                                        max-width: 30px;
                                        // height: 32px;
                                    }
                                }
                            }
                            span{
                                font-size: 1rem;
                                padding-bottom: 18px;
                                &:nth-child(2){
                                    margin-left: 15px;
                                }
                                img{
                                    max-width: 30px;
                                    // height: 30px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 1rem;
                    }   
                }
                .form-btn-wrap{
                    padding-top: 40px;
                    span{
                        font-size: 1rem;
                    }
                    .btn-content{
                        margin-bottom: 50px;
                        padding-top: 10px;
                        a{
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    max-width: 110px;
                                    // height: 34px;
                                }
                                margin-right: 10px;
                            }
                            &:nth-child(2){
                                img{
                                    max-width: 130px;
                                    // height: 34px;
                                }
                                margin-right: 0px;
                            }
                        }
                        
                    }
                }
                .social-icon-wrap{
                    @include flex;
                    a{
                        cursor: pointer !important;
                        margin-right: 15px;
                        &:nth-child(5){
                            margin-right: 0;
                        }
                        &:nth-child(1){
                            figure{
                                img{
                                    width: 8px;
                                }
                            }
                        }
                        figure{
                            @include flex;
                            justify-content: center;
                            align-items: center;
                            background: $logo-bg;
                            width: 35px;
                            height: 35px;
                            @include border-radius-circle(50%);
                            box-shadow: 0px 10px 40px $color-box-shadow;
                            img{
                                width: 16px;
                            }
                          
                        }
                    }
                }
            }

            .footer{
                .footer-left{
                    .copyright{
                        font-size: 0.813rem;
                        .subtitle{
                            font-size: 0.813rem;
                        }
                    }
                }
                .footer-right{
                    .site-design-title{
                        font-size: 0.938rem;
                        .site-design{
                            font-size: 0.938rem;
                        }
                    }
                }
            }
        }
    }
}

/* 1440px and up */
@media only screen and (min-width: $md-desktop) {
    
    .page{
        /* -- slider -- */
        .slider-section{
            padding-left: 0px;
            padding-right: 0px;
            span{
                text-align: left;
                font-size: 1rem;
            }
            .slider{
                margin-top: 42px;
                .slider-image-container{
                    .slider-img-item{
                        figure{
                            img{
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }

         /* form */
         .form-section{
            padding: 0px;
            .form-left{
                .form-left-title{
                    h3{
                    // font-size: 2.813rem;
                        margin-bottom: 10px;
                    }
                    span{
                    font-size: 1.125rem;
                    }
                }
                .form-wrap{
                    margin-top: 61px;
                    .form-group{
                        width: 100%;
                        margin-bottom: 30px;
                        &:nth-child(4){
                            margin-bottom: 0;
                        }
                        .form-control{
                            padding: 8px 0px;
                            font-size: 1.25rem;
                            &::placeholder{
                                font-size: 1.25rem;
                            }
                            &:focus{
                                box-shadow: none;
                            }
                        }
                    }
                    .btn{
                        margin-top: 50px;
                        padding: 14px 60px;
                        margin-bottom: 94px;
                        font-size: 1rem;
                        &:hover{
                            background: $color-darkred;
                        }
                    }
                }
            }
            .form-right{
                margin-left: 80px;
                .form-right-title{
                    h3{
                        margin-top: 0px;
                        // font-size: 2.813rem;
                        margin-bottom: 10px;
                    }
                }
                .form-address{
                    margin-top: 24px;
                    .addr-list{
                        .addr{
                            &:nth-child(1){
                                span{
                                    img{
                                        max-width: 30px;
                                        // height: 32px;
                                    }
                                }
                            }
                            span{
                                font-size: 1.125rem;
                                padding-bottom: 18px;
                                &:nth-child(2){
                                    margin-left: 15px;
                                }
                                img{
                                    max-width: 30px;
                                    // height: 30px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 1.125rem;
                    }   
                }
                .form-btn-wrap{
                    padding-top: 80px;
                    span{
                        font-size: 1.125rem;
                    }
                    .btn-content{
                        margin-bottom: 60px;
                        padding-top: 28px;
                        a{
                            cursor: pointer;
                            &:nth-child(1){
                                img{
                                    max-width: 127px;
                                    // height: 44px;
                                }
                                margin-right: 16px;
                            }
                            &:nth-child(2){
                                img{
                                    max-width: 151px;
                                    // height: 44px;
                                }
                                margin-right: 0px;
                            }
                        }
                        
                    }
                }
                .social-icon-wrap{
                    @include flex;
                    a{
                        cursor: pointer !important;
                        margin-right: 15px;
                        &:nth-child(5){
                            margin-right: 0;
                        }
                        &:nth-child(1){
                            figure{
                                img{
                                    width: 8px;
                                }
                            }
                        }
                        figure{
                            @include flex;
                            justify-content: center;
                            align-items: center;
                            background: $logo-bg;
                            width: 35px;
                            height: 35px;
                            @include border-radius-circle(50%);
                            box-shadow: 0px 10px 40px $color-box-shadow;
                            img{
                                width: 16px;
                            }
                          
                        }
                    }
                }
            }

            .footer{
                .footer-left{
                    .copyright{
                        font-size: 0.938rem;
                        .subtitle{
                            font-size: 0.938rem;
                        }
                    }
                }
                .footer-right{
                    .site-design-title{
                        font-size: 0.938rem;
                        .site-design{
                            font-size: 0.938rem;
                        }
                    }
                }
            }
        }
    }
}

    
